* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}

/* variables */
:root {
    --standard-font: 'Quicksand', sans-serif;

    /* colors */
    --general-backgroud: #F5EFFB;
    --page-title-color: #8258FA;
    --header-background: #F2E0F7;
    --header-item: #CC2EFA;
    --subtitle: #FA5882;
    --cloud-color: #a33;
    --button-background: #FE2E64;
    --button-background-hover: #FF0040;
    --button-text-color: #F8E0E6;
    --font-color: #665;
    --sidebar-background-color: #2e2e2e;

    /* sizes */
    --size: 4;
}

body {
    background-color: var(--general-backgroud);
    font-family: var(--standard-font);
    color: var(--font-color);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1em; /* Place the button at the bottom of the page */
    right: 1em; /* Place the button 60px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button-background); /* Set a background color */
    color: var(--button-text-color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0.2em; /* Some padding */
    width: 2em;
    border-radius: 0.5em; /* Rounded corners */
    font-size: 2em; /* Increase font size */
    transition: transform .3s;
  }
  
#myBtn:hover {
    background-color: var(--button-background-hover); /* Add a dark-grey background on hover */
    color: var(--general-backgroud);
    transform: scale(1.15);
}

.cloud-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.cloud {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2.5rem;
    width: 900px;
    margin-bottom: 30px;
}

ul.cloud a {
    display: block;
    padding: 1rem 0.5rem;
    text-decoration: none;
    position: relative;
    color: var(--cloud-color);
    font-size: calc(var(--size) * 0.3rem + 0.5rem);
    opacity: calc((15 - (9 - var(--size))) / 15);
    transition: transform .3s;
}

ul.cloud a:hover {
    transform: scale(1.1);
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --cloud-color: #181; }
ul.cloud li:nth-child(3n+1) a { --cloud-color: #33a; }
ul.cloud li:nth-child(4n+1) a { --cloud-color: #c38; }

ul.cloud a:focus {
    outline: 1px dashed;
}

ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--cloud-color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    border-radius: 1em;
    transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidebar-background-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;    
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--subtitle);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: var(--button-text-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

nav {
    display: flex;
    background-color: var(--header-background);
    min-height: 7em;
    padding: 0 1.5em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
}

#span-menu {
    font-size: 2em;
    cursor: pointer;
    color: var(--header-item);
}

.texto-apresentacao {
    max-width: 40em;
}

h1 {
    color: var(--page-title-color);
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-left: 0.1em;
    border-left: 5px solid var(--button-background);
}

.texto-apresentacao p {
    font-size: 1.25em;
    margin-bottom: 1.2em;
    letter-spacing: 0.1rem;
    text-indent: 3em;
}

.profile-pic {
    max-width: 20em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform:          rotate(355deg);
    -ms-transform:      rotate(355deg);
    -moz-transform:     rotate(355deg);
    -webkit-transform:  rotate(355deg);
    -o-transform:       rotate(355deg);
}

.links-contato ul {
    font-size: 1.5em;
    letter-spacing: 0.1rem;
}

.attribution-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.9em;
}

.contact-list-items {
    text-decoration: none;
    color: var(--font-color);
}

.information-contact {
    padding: 0.5em;
    transition: .5s;
}

.information-contact:hover {
    background-color: var(--header-background);
    color: var(--page-title-color);
    font-weight: bold;
    border-radius: 0.5em;
}

.information-contact a:hover {
    color: var(--page-title-color);
}

.vector-themes {
    max-width: 30em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#educacao {
    min-height: 100vh;
}

.group-of-skills {
    max-width: 50em;
}

.single-skill {
    font-size: 1.25em;
    letter-spacing: 0.1rem;
}

.single-skill h2 {
    color: var(--subtitle);
}

.modal-button {
    background-color: var(--button-background);
    border: transparent;
    font-size: 100%;
    color: var(--button-text-color);
    margin-top: 5%;
    border-radius: 1.5em;
    padding: 2%;
    transition: transform .3s;
}

.modal-button:focus {
    background-color: var(--button-background);
}

.modal-button:hover {
    background-color: var(--button-background-hover);
    color: var(--general-backgroud);
    transform: scale(1.15);
}

.single-skill-description {
    padding-left: 1em;
}

/* 


PAREI AQUI


*/


.single-skill-activities {
    margin: 15px 0;
    letter-spacing: 0.13em;
}

.habilities-button {
    background-color: var(--header-background);
    border-radius: 30px;
    width: 180px;
    font-family: var(--standard-font);
    font-size: 20px;
    color: var(--header-item);
    margin: 15px 15px 0 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.habilities-button:hover {
    background-color: var(--button-text-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.experiences {
    max-width: 90vw;
    padding-left: 30px;
}

.certifications li::before {
    content: "📌";
}

#software-cloud {
    width: 500px;
}

.languages-button {
    background-color: var(--header-background);
    border-radius: 30px;
    width: 400px;
    height: 100px;
    font-family: var(--standard-font);
    font-size: 20px;
    color: var(--header-item);
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.languages-button:hover {
    background-color: var(--button-text-color);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.languages-button:hover::before {
    content: "📣 ";
}

footer {
    display: flex;
    background-color: var(--header-background);
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

footer a {
    text-decoration: none;
    color: var(--font-color);
}

footer a:hover {
    color: var(--button-background-hover);
    font-weight: bold;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries and mobile */

@media (prefers-reduced-motion) {
    ul.cloud * {
      transition: none !important;
    }
}

@media only screen and (max-width: 767px) {
    nav {
        flex-direction: row-reverse;
        width: 100%;
        min-height: 17.5vh;
        justify-content: center;
    }

    #myBtn {
        right: 5em;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        min-height: 200vh;
        max-width: 90vw;
    }

    .texto-apresentacao {
        width: 90%;
    }

    #contato {
        min-height: 130vh;

    }

    #educacao {
        min-height: 170vh;
    }

    .group-of-skills {
        align-items: center;
    }

    .attribution-div {
        transform: none;
    }

    .profile-pic {
        transform: none;
        box-shadow: none;
    }

    .vector-themes {
        max-width: 90%;
        box-shadow: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 17.5vh;
    }
}
