* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}

/* variables */
:root {
    --standard-font: 'Quicksand', sans-serif;
    --title-font: 'Leckerli One', cursive;

    /* colors */
    --general-backgroud: #F5EFFB;
    --page-title-color: #8258FA;
    --header-background: #F2E0F7;
    --header-item: #CC2EFA;
    --subtitle: #FA5882;
    --cloud-color: #a33;
    --button-background: #FE2E64;
    --button-background-hover: #FF0040;
    --button-text-color: #F8E0E6;
    --font-color: #665;

    /* sizes */
    --size: 4;
}

body {
    background-color: var(--general-backgroud);
    font-family: var(--standard-font);
    color: var(--font-color);
}

hr {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: var(--header-item);
    text-align: center;
    height: 1.5em;
    opacity: .5;
}
hr:before {
    content: '';
    background: linear-gradient(to right, transparent, #CC2EFA, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
hr:after {
    position: relative;
    display: inline-block;
    color: var(--header-item);
  
    padding: 0 .5em;
    line-height: 1.5em;

    color: var(--header-item);
    background-color: var(--general-backgroud);
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 60px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button-background); /* Set a background color */
    color: var(--button-text-color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    width: 80px;
    border-radius: 20px; /* Rounded corners */
    font-size: 35px; /* Increase font size */
    transition: transform .3s;
  }
  
#myBtn:hover {
    background-color: var(--button-background-hover); /* Add a dark-grey background on hover */
    color: var(--general-backgroud);
    transform: scale(1.15);
}

.cloud-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.cloud {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2.5rem;
    width: 900px;
    margin-bottom: 30px;
}

ul.cloud a {
    display: block;
    padding: 1rem 0.5rem;
    text-decoration: none;
    position: relative;
    color: var(--cloud-color);
    font-size: calc(var(--size) * 0.3rem + 0.5rem);
    opacity: calc((15 - (9 - var(--size))) / 15);
    transition: transform .3s;
}

ul.cloud a:hover {
    transform: scale(1.1);
}

ul.cloud a[data-weight="1"] { --size: 1; }
ul.cloud a[data-weight="2"] { --size: 2; }
ul.cloud a[data-weight="3"] { --size: 3; }
ul.cloud a[data-weight="4"] { --size: 4; }
ul.cloud a[data-weight="5"] { --size: 6; }
ul.cloud a[data-weight="6"] { --size: 8; }
ul.cloud a[data-weight="7"] { --size: 10; }
ul.cloud a[data-weight="8"] { --size: 13; }
ul.cloud a[data-weight="9"] { --size: 16; }

ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --cloud-color: #181; }
ul.cloud li:nth-child(3n+1) a { --cloud-color: #33a; }
ul.cloud li:nth-child(4n+1) a { --cloud-color: #c38; }

ul.cloud a:focus {
    outline: 1px dashed;
}

ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--cloud-color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    border-radius: 1em;
    transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

.flex-container {
    display: flex;
    margin: 20px;
    width: 100vw;
    min-width: 320px;
    justify-content: space-between;
}

header {
    background-color: var(--header-background);
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#page-title {
    font-family: var(--title-font);
    font-size: 60px;
    color: var(--page-title-color);
}

#header-menu-items {
    display: flex;
    max-width: 1060px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#header-menu-items a {
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 22px;
    transition: .3s;
    color: var(--header-item);
}

#header-menu-items a:hover {
    color: var(--page-title-color);
    font-size: 28px;
    font-weight: bold;
    border-left: 5px solid var(--button-background);
}

.quem-sou {
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
}

.quem-sou .texto-apresentacao {
    max-width: 600px;
}

.texto-apresentacao h1 {
    color: var(--page-title-color);
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 5px;
    border-left: 5px solid var(--button-background);
}

.texto-apresentacao p {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
    text-indent: 60px;
}

#profile-pic {
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    
    transform:          rotate(355deg);
    -ms-transform:      rotate(355deg);
    -moz-transform:     rotate(355deg);
    -webkit-transform:  rotate(355deg);
    -o-transform:       rotate(355deg);
}

.contato {
    height: 80vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

.contato h1 {
    color: var(--page-title-color);
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 5px;
    border-left: 5px solid var(--button-background);
}

.links-contato ul {
    font-size: 22px;
    letter-spacing: 0.1rem;
}

.attribution-div {
    display: flex;
    flex-direction: column;
}

.attribution {
    text-decoration: none;
    color: var(--font-color);
    font-size: 14px;
    padding-left: 15px;
}

.contact-list-items {
    text-decoration: none;
    color: var(--font-color);
}

.information-contact {
    padding: 15px;
    transition: .5s;
    border-radius: 15px;
}

.information-contact:hover {
    background-color: var(--header-background);
    color: var(--page-title-color);
    font-weight: bold;
}

.information-contact a:hover {
    color: var(--page-title-color);
}

.vector-themes {
    width: 600px;
    border: 1px solid var(--page-title-color);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.group-of-skills {
    max-width: 600px;
}

.single-skill {
    font-size: 20px;
    margin: 20px 0 0 20px;
    letter-spacing: 0.1rem;
}

.experiences {
    max-width: 90vw;
    padding-left: 30px;
}

.single-skill h2 {
    color: var(--subtitle);
    margin-bottom: 15px;
}

.single-skill-description {
    padding: 0 0 15px 15px;
}

.single-skill-activities {
    margin: 15px 0;
    letter-spacing: 0.13em;
}

.experiences h1 {
    color: var(--page-title-color);
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 5px;
    border-left: 5px solid var(--button-background);
}

.habilities-button {
    background-color: var(--header-background);
    border-radius: 30px;
    width: 180px;
    font-family: var(--standard-font);
    font-size: 20px;
    color: var(--header-item);
    margin: 15px 15px 0 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.habilities-button:hover {
    background-color: var(--button-text-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.certifications li::before {
    content: "📌";
}

#software-cloud {
    width: 500px;
}

.languages-button {
    background-color: var(--header-background);
    border-radius: 30px;
    width: 400px;
    height: 100px;
    font-family: var(--standard-font);
    font-size: 20px;
    color: var(--header-item);
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.languages-button:hover {
    background-color: var(--button-text-color);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.languages-button:hover::before {
    content: "📣 ";
}

.footer {
    background-color: var(--header-background);
    width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.footer p {
    padding: 0 50px;
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
}

.footer a:hover {
    color: var(--button-background-hover);
    font-weight: bold;
}

/* media queries */

@media (prefers-reduced-motion) {
    ul.cloud * {
      transition: none !important;
    }
  }


